/* Day 1 - Introduction to CSS */

body {
    background-color: #f4f9ff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    color: darkblue;
    text-align: center;
}

h2 {
    color: #2e8b57;
    margin-top: 20px;
}

h3 {
    color: #8b0000;
}

p {
    font-size: 18px;
    color: #333333;
    line-height: 1.6;
}

ul {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    width: 300px;
}

li {
    margin-bottom: 8px;
}
